
*{
    margin: 0;
    padding: 0;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common Styles */
.primary-color{
    color: rgb(13, 19, 33);
}
.section_info{
    text-align: center;
}
.section_title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* Nav Styles */
#nav{
    
    width: 100%;

}
.nav_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
#nav a{
    text-decoration: none;
}
#nav .logo{
    font-size: 28px;
    font-weight: 800;
}
.download_resume{
    padding: 12px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 600;
}

/* Hero Styles */
#hero{
    width: 100%;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_container{
    width: 998px;
    
}
.hero_img{
    width: 240px;
}
.hero_title{
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0;
}
#hero p{
    margin-bottom: 30px;
}
.contact_btn{
    background: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
}


/* Why Styles */
#why .section_info{
    margin-bottom: 80px;
}
.why_container{
    width: 945px;
    padding: 80px 95px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 15px;
    margin: 50px auto;
}
.box{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftpart{
    width: 60%;
}
.box_title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    opacity: 0.7;
}
.box_description{
    margin-bottom: 35px;
}
.box-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    text-decoration: none;
    color: rgba(13, 19, 33);
}
.rightpart{
    width: 40%;
}
.rightpart img{
    width: 274px;
}

.box2 .leftpart{
    width: 40%;
}
.box2 .rightpart{
    width: 60%;
}