
*{
    margin: 0;
    padding: 0;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common Styles */
.primary-color{
    color: rgb(13, 19, 33);
}
section{
    margin: 25px 0 0 0;
}
.container{
    width: 945px;
    padding: 50px 95px;
    margin: 0 auto;
}
.section_info{
    text-align: center;
    margin-bottom: 80px;
}
.section_title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}


/* Nav Styles */
#nav{
    
    width: 100%;

}
.nav_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
#nav a{
    text-decoration: none;
}
#nav .logo{
    font-size: 28px;
    font-weight: 800;
}
.download_resume{
    padding: 12px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 600;
}

/* Hero Styles */
#hero{
    width: 100%;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_container{
    width: 998px;
    
}
.hero_img{
    width: 240px;
}
.hero_title{
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0;
}
#hero p{
    margin-bottom: 30px;
}
.contact_btn{
    background: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
}


/* Why Styles */
#why .section_info{
    margin-bottom: 80px;
}
.why_container{
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 15px;
}
.box{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftpart{
    width: 60%;
}
.box_title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    opacity: 0.7;
}
.box_description{
    margin-bottom: 35px;
}
.box-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    text-decoration: none;
    color: rgba(13, 19, 33);
}
.rightpart{
    width: 40%;
}
.rightpart img{
    width: 274px;
}

.box2 .leftpart{
    width: 40%;
}
.box2 .rightpart{
    width: 60%;
}

/* Inspiration Styles */
#inspiration .section_info{
    margin-bottom: 80px;
}
.inspiration_video{
    padding: 30px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

    
}
.inspiration_video iframe{
    /* width: 1070px;
    height: 550px; */
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}

/* Target Styles */
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 33%;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 10px;
    margin-right: 15px;
}
.card_img{
    padding: 0 8px;
}
.card_img img{
    width: 40px;
}
.card_info{
    margin-top: 20px;
}
.card_title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.card_description{
    margin-bottom: 20px;
}
.learn_btn{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
.card2{
    background-color: rgba(0, 76, 232, 0.05);
}
.card3{
    margin-right: 0;
    background-color: rgba(255, 223, 0, 0.05);
}

/* NTarget Styles */
.nt_cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nt_card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 5px;
    padding: 40px;
}
.nt_img{
    padding: 10px 0;
}
.nt_img img{
    width: 90px;
}
.nt_info p{
    margin-bottom: 20px;
}


/* support Styles */
.support_container{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 48px;
    border-radius: 15px;
    background-color: rgba(13, 19, 33, 0.6);
    background-blend-mode: overlay;
}
.support_title{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
.support_description{
    color: #fff;
    opacity: 0.7;
}
.fields{
    text-align: center;
}
input[type="text"]{
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    border: none;
    outline: none;
}
input[type="submit"]{
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;

}

/* Footer Styles */
#footer .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
#footer p{
    font-size: 20px;
    font-weight: 600;
}
#footer .social_icons{
    display: flex;
}
#footer img{
    width: 36px;
    margin-right: 20px;
}
